<div class="card mt-4">
  <div class="card-header d-flex justify-content-left align-items-center" (click)='searchTicker()'>

    <div class="h3">{{ticker}}</div>
    <div class="h5 pl-2" style='color:#7f8797'>{{companyDetails.quote.name}}</div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <div class="row">
          <div class="col">Quantity:</div>
          <div class="col value">{{companyDetails.qty}}</div>
        </div>
        <div class="row">
          <div class="col">Avg. Cost / Share:</div>

          <div class="col value">{{companyDetails.avgCost}}</div>
        </div>
        <div class="row">
          <div class="col">Total Cost:</div>
          <div class="col value">{{companyDetails.tcost}}</div>
        </div>

      </div>
      <div class="col-lg-6 col-sm-12 stockValues">
        <div class="row">
          <div class="col">Change:</div>
          <div class="col value"
            [ngStyle]="{'color': companyDetails.change == 0? '#000000' :(companyDetails.change < 0 ? '#ea3323': '#367b21')}">
            <fa-icon *ngIf="companyDetails.change > 0" [icon]='faCaretUp' [styles]="{color: '#367b21'}"></fa-icon>
            <fa-icon *ngIf="companyDetails.change < 0" [icon]='faCaretDown' [styles]="{color: '#ea3323'}"></fa-icon>
            {{companyDetails.change.toFixed(2)}}
          </div>
        </div>
        <div class="row">
          <div class="col">Current Price:</div>
          <div class="col value"
            [ngStyle]="{'color': companyDetails.change == 0? '#000000' :(companyDetails.change < 0 ? '#ea3323': '#367b21')}">
            {{companyDetails.quote.l}}</div>
        </div>
        <div class="row">
          <div class="col">Market Value:</div>
          <div class="col value"
            [ngStyle]="{'color': companyDetails.change == 0? '#000000' :(companyDetails.change < 0 ? '#ea3323': '#367b21')}">
            {{companyDetails.marketVal}}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-footer d-flex justify-content-end">
    <app-buysellbutton [buyStockAlert]="buyStockAlert" [sellStockAlert]="sellStockAlert"
      [ticker]="ticker" [value]="companyDetails.quote.l" [source]="'portfolio'"
      [transactionUpdate]="portfolioUpdate"></app-buysellbutton>
  </div>

</div>
