<div class='d-flex flex-column h-100' id='component-wrapper'>
  <div id='body'>
    <app-nav-bar id='nav-bar' class='h-10'></app-nav-bar>
    <div id='background' class=""></div>
    <router-outlet id='pages'>

    </router-outlet>


  </div>
  <!-- <footer class='text-center text-lg-start mt-auto h-10'>
            <div class='text-center p-3' style='background-color: #dddddd; font-weight: 500;'>
                Powered by
                <a  href='https://finnhub.io/' style='color: #548ef1;'>
                    Finnhub.io
                </a>

            </div>

        </footer> -->

  <nav class='navbar fixed-bottom' style='background-color: #dddddd;'>
    <div class='footer-div mx-auto'>
      Powered by
      <a href='https://finnhub.io/' style='color: #548ef1;'>
        Finnhub.io
      </a>
    </div>
  </nav>


</div>
